**/bin
**/obj
**/.git
**/.vs
**/.idea
**/.vscode
**/.env
**/.env.local
**/node_modules
**/*.user
**/*.suo
**/Dockerfile
**/docker-compose*.yaml
**/.gitignore
**/.dockerignore
**/postman
**/docs
README.md
